    * {
        margin:0px ;
        background-color: black; 
    }
    main {
       

    
       border: 6px solid transparent;
       margin: 0px;
       background-image: url(./file/cidade1.jpg);
       backdrop-filter: blur( 10px );
       background-repeat: no-repeat ;
       background-position: 100%;
       
    }
    h1 {


        font-size: 50px;
        color: turquoise;
        -webkit-backdrop-filter: blur( 10px );
        backdrop-filter: blur( 10px );
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: 2px 5px 5px 2px rgb(170, 255, 0);
        border: 2px solid transparent(10, 10, 9, 0.048);
        margin: 25px ;
        padding: 60px;
        text-align: center;

    }
    #descricao {

        -webkit-backdrop-filter: blur( 10px );
        backdrop-filter: blur( 10px );
        background-color: rgba(255, 255, 255, 0.1);
        font-size: 30px;
        box-shadow: 2px 5px 5px 2px greenyellow;
        border: 2px transparent;
        color:rgb(255, 145, 0);
        margin: 10px;
        padding: 50px;
        
    }
    button  {

        -webkit-backdrop-filter: blur( 10px );
        backdrop-filter: blur( 10px );
        background-color: rgba(255, 255, 255, 0.1);
        font-size: 14px;
        color: rgb(234, 250, 6);
        box-shadow: 2px 2px 2px 2px turquoise;
        border: 2px rgb(172, 255, 5);
        margin: 50px;
        padding: 5px;
    }